<!DOCTYPE html>
{% extends "base.html" %}
{% load humanize %}
{% load url from future %}
{% block content %}

<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-responsive.css">

<h1>Carolina Athletics</h1>

<ul class="nav nav-tabs">
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        Men's Sports 
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
    	<li><a href="#">Baseball<a></li>
    	<li><a href="#">Basketball<a></li>
    	<li><a href="#">Cross Country<a></li>
    	<li><a href="#">Fencing<a></li>
    	<li><a href="#">Football<a></li>
    	<li><a href="#">Golf<a></li>
    	<li><a href="#">Lacrosse<a></li>
    	<li><a href="#">Soccer<a></li>
    	<li><a href="#">Swimming & Diving<a></li>
    	<li><a href="#">Tennis<a></li>
    	<li><a href="#">Track & Field<a></li>
    	<li><a href="#">Wrestling<a></li>
      <!-- links -->
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        Women's Sports
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <li><a href="#">Basketball<a></li>
      <li><a href="#">Cross Country<a></li>
      <li><a href="#">Fencing<a></li>
      <li><a href="#">Field Hockey<a></li>
      <li><a href="#">Golf<a></li>
      <li><a href="#">Gymnastics<a></li>
      <li><a href="#">Lacross<a></li>
      <li><a href="#">Rowing<a></li>
      <li><a href="#">Soccer<a></li>
      <li><a href="#">Softball<a></li>
      <li><a href="#">Swimming & Diving<a></li>
      <li><a href="#">Tennis<a></li>
      <li><a href="#">Track & Field<a></li>
      <li><a href="#">Volleyball<a></li>
    </ul>
  </li>




</ul>




{% endblock %} 