<!DOCTYPE html>
{% extends "base.html" %}
{% load humanize %}
{% load url from future %}
{% block content %}

<a href="{% url 'team_home' %}"><img src="{{ STATIC_URL }}img/well.jpg" style=float:left;><h1>Carolina Athletics</h1></a>

<ul class="nav nav-tabs">
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        Men's Sports 
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
    	<li><a href="#">Baseball</a></li>
    	<li><a href="">Basketball</a></li>
    	<li><a href="#">Cross Country</a></li>
    	<li><a href="#">Fencing</a></li>
    	<li><a href="#">Football</a></li>
    	<li><a href="#">Golf</a></li>
    	<li><a href="#">Lacrosse</a></li>
    	<li><a href="#">Soccer</a></li>
    	<li><a href="#">Swimming & Diving</a></li>
    	<li><a href="#">Tennis</a></li>
    	<li><a href="#">Track & Field</a></li>
    	<li><a href="#">Wrestling</a></li>
      <!-- links -->
    </ul>
  </li>
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        Women's Sports
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <li><a href="#">Basketball</a></li>
      <li><a href="#">Cross Country</a></li>
      <li><a href="#">Fencing</a></li>
      <li><a href="#">Field Hockey</a></li>
      <li><a href="#">Golf</a></li>
      <li><a href="#">Gymnastics</a></li>
      <li><a href="#">Lacross</a></li>
      <li><a href="#">Rowing</a></li>
      <li><a href="#">Soccer</a></li>
      <li><a href="#">Softball</a></li>
      <li><a href="#">Swimming & Diving</a></li>
      <li><a href="#">Tennis</a></li>
      <li><a href="#">Track & Field</a></li>
      <li><a href="#">Volleyball</a></li>
    </ul>
  </li>

<hr>

<img src="{{ STATIC_URL }}img/court.jpg">

  
    <table >
      <tr>
        <td><h1>{{ team.season }}-2013 {{ team.name }}</h1></td>
        <td style="padding-left:85px">
          Season Record: {{ team.record }} <br>
          Updated Feb. 23
        </td>
      </tr>
    </table>
  
  


<div class="row">
  <div class="span8">
    <table class="table table-hover table-bordered">
      {% for i in teamList %}
      <tr>
        <td><style="font-size:15px">#{{ i.number }}</td>
        <td>
          <a href="{% url 'team_players' i.id %}"><strong> {{ i.name }} </strong></a> </br>
          {{ i.position }}
        </td>
        <td style="text-align:center;"><img src="{{ i.image }}" class="img-polaroid" width="50px"></td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="span4">
   <a class="twitter-timeline" href="https://twitter.com/UNC_Basketball" data-widget-id="313404567612162048">Tweets by @UNC_Basketball</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>





  </div>
</div>

</div>






{% endblock %} 